form action="/gymlog/new" method="post"
    input type="text" name="dag" placeholder="Vilket datum"
    input type="text" name="exercises" placeholder="Vilken muskelgrupp tränade du"
        input type="submit" value="Skapa log"